.c-header {
  min-height: var(--header-offset);
  padding: 16px 41px;

  display: flex;
  align-items: center;
  gap: 22px;

  background: #0064eb;
}

@media (max-width: 500px) {
  .c-header {
    padding: 16px 20px;
  }
}

.c-search {
  width: 500px;

  padding: 8px 19px;
  min-height: 40px;

  display: flex;
  align-items: center;
  gap: 11px;

  background: rgb(255, 255, 255);
  border-radius: 6px;
}

.c-search__input {
  padding: 0;
  width: 100%;
  min-height: 24px;

  font-size: 14px;
  line-height: 12px;
  letter-spacing: 1%;

  border: none;
  outline: none;

  background: rgb(255, 255, 255);
}
