.c-search-result {
  height: calc(100vh - var(--header-offset));

  display: flex;
  justify-content: center;

  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: center;
}

/* All states when the repos are not shown */

.c-search-result__wrapper {
  display: flex;
  width: 210px;
  min-height: 196px;
}

.c-search-result--initial > .c-search-result__wrapper,
.c-search-result--user-not-found > .c-search-result__wrapper,
.c-search-result--error > .c-search-result__wrapper,
.c-search-result--loading {
  flex-flow: column;
  justify-content: center;
  align-items: center;

  color: #808080;
}

.c-search-result--initial > .c-search-result__wrapper {
  gap: 47px;
}

.c-search-result--user-not-found > .c-search-result__wrapper {
  gap: 42px;
}

.c-search-result__img {
  width: 65px;
}

/* The state where the repos are shown */

.c-search-result--default {
  gap: 85px;
  justify-content: none;
}
