/* Repos overview (Repos list + pagination) */

.c-repos-overview {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.c-repos-overview--empty {
  justify-content: center;
}

/* Empty repo */

.c-repos__empty {
  margin-bottom: 120px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 48px;
}

.c-repos__empty > img {
  width: 76px;
}

.c-repos__message-empty {
  color: #808080;
  font-size: 22px;
  line-height: 31px;
}

/* Repos list */

.c-repos {
  text-align: left;
}

.c-repos__title {
  margin-bottom: 29px;
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
}

/* A single repo */

.c-repos-entry {
  min-height: 112px;
  margin-top: 24px;
  padding: 24px 32px;

  display: flex;
  flex-flow: column;
  gap: 16px;

  background: #fff;
  border-radius: 6px;
  word-break: break-word;
}

.c-repos-entry__name-link {
  width: max-content;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #0064eb;
  text-decoration: none;
}

.c-repos-entry__description {
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 500px) {
  .c-repos-entry__name-link {
    width: unset;
  }
}

/* Pagination */

.c-pagination {
  margin-top: 26px;
  align-self: flex-end;

  display: flex;
  align-items: center;
  gap: 23.5px;
}

/* Controls */

.c-pagination__controls {
  display: flex;
  align-items: center;
}

.c-pagination__controls a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: max-content;
  height: 100%;
}

.c-pagination__page {
  min-width: 21px;
  min-height: 25px;

  display: flex;
  align-items: center;

  border-radius: 3px;

  margin-inline: 6px;
}

.c-pagination__break,
.c-pagination__page {
  color: #808080;

  font-size: 14px;
  line-height: 21px;

  cursor: pointer;
  user-select: none;
}

.c-pagination__active {
  background: #0064eb;
  color: #fff;
}

/* Next and prev buttons */

.c-pagination__btn {
  width: 21px;
  height: 25px;
  cursor: pointer;
}

.c-pagination__btn > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-pagination__btn--prev {
  margin-right: 10px;
}

.c-pagination__btn--next {
  margin-left: 10px;
  transform: scaleX(-1);
}

.c-pagination__btn--disabled {
  filter: grayscale(1) brightness(1.7);
  cursor: default;
}

/* Stats */

.c-pagination__stats {
  color: #808080;

  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 850px) {
  .c-pagination__stats {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .c-pagination {
    gap: 4px;
  }

  .c-pagination__page {
    margin-inline: 3px;
  }

  .c-pagination__btn--prev {
    margin-right: 5px;
  }

  .c-pagination__btn--next {
    margin-left: 5px;
  }
}
